body{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.input-group{
    padding: 0px 10px;
}

.lighter-button{
    color: white !important; 
}

#p-result-1,
#p-result-2{
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}